@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: suaviza las fuentes */
body {
  @apply antialiased bg-slate-50 text-slate-800;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
